<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <img src="https://res.cloudinary.com/dfo3obcfa/image/upload/v1526283019/x_tkt2cq.svg" alt="">
</body>

</html>
