<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <img class="animatable green" src="https://res.cloudinary.com/dfo3obcfa/image/upload/v1526283019/x_tkt2cq.svg" alt="">
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Svg_example4.svg" alt="">
  <img class="animatable" src="https://res.cloudinary.com/dfo3obcfa/image/upload/v1524828601/image_vr1e1e.svg" alt="">

</body>

</html>
